<html>
<head>
    <style>
        .container-fullscreen {
            position: fixed; top: 0; left: 0; width: 100%; height: 100%;
            background: #fff; display: flex; align-items: center; justify-content: center;
            z-index: 10000;
        }
        .scritta {
            font-family: 'Verdana'; 
            color: blue; 
            font-weight: bold; 
            text-decoration: underline;
            font-size: 26px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container-fullscreen">
        <div class="scritta">
            La mission dell app è quella di insegnare a fare le sfogliatelle
        </div>
    </div>
</body>
</html>
